#imaginary_container{
    margin-top:10%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: black;
    padding: 0x; }

.main {
  padding-bottom: 40px;
  text-align: center; }

.entry {
  height: 300px;
  margin-bottom: 30px; }
  .entry .poster-container {
    width: 150px;
    height: 225px;
    margin: auto;
    display: block; }
    .entry .poster-container .poster-overlay {
      position: absolute;
      background: black;
      color: white;
      width: 150px;
      height: 225px;
      font-size: 20px;
      text-align: center;
      opacity: 0;
      transition: opacity .5s;
      -moz-transition: opacity .5s;
      -webkit-transition: opacity .5s;
      -o-transition: opacity .5s; }
      .entry .poster-container .poster-overlay:hover {
        opacity: .8;
        transition: opacity .5s;
        -moz-transition: opacity .5s;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s; }
      .entry .poster-container .poster-overlay .release-date {
        top: 25px;
        position: absolute;
        width: 100%; }
      .entry .poster-container .poster-overlay .vote-average {
        bottom: 15px;
        position: absolute;
        width: 100%; }
    .entry .poster-container .poster {
      width: 150px;
      height: 225px; }
  .entry .title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: cadetblue;
    padding: 5px; }
  .entry .error {
    color: red; }