<div class="container">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" #name (keyup)="search(name.value)"  placeholder="Search for a movie by name" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <a class="btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                History <span class="caret"></span>
                            </a>
                            <ul *ngFor="let search of searchHistory" class="dropdown-menu">
                                <li><a href="#">{{search}}</a></li>
                            </ul>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div><h2 class="desc">{{desc}}</h2></div>
      <div *ngFor="let movie of movies" class = "row jumbotron container" >
            <div class="col-md-12">
                <div class ="media-left">
                 <img src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}" class="poster"/>
                 </div>
                 <div class="media-body">
                     <h2 class="media-heading">{{movie.title}}</h2> <!--<br>
                     <div id='overviewDiv'>{{movie.overview}}</div>-->
                 <br/>
                  <div class="vote-average"><strong>IMDB Rating:</strong> {{movie.vote_average}}</div>
                  <div class="release-date"><strong>Release:</strong> {{movie.release_date | date : "MMMM d, y"}}</div>
                     <br/>
                    <button class="btn btn-primary" (click)='moreInfoClicked(movie)'>More info</button>
                 </div>
            </div>
         <br/>
         <br/>     
        </div>

<div class="container">

  
<!--<br/>
<br/>
<h3>Movies:</h3>
<ul *ngIf="showTopRated == true">
  <li *ngFor="let movie of movies">{{movie.title}}</li>
</ul>
<ul *ngIf="showTopRated == false">
  <li *ngFor="let movie of searchedMovieResults">{{movie.title}}</li>
</ul>-->

<!--<p *ngIf="errorMessage">{{errorMessage}}</p>-->

</div>