<div class="row jumbotron container">
    <div class="col-md-6 col-md-offset-3">
            <ul >
              <li><h3>{{(currentUser()|async).displayName}}</h3></li><br/>
               <li *ngIf="(currentUser()|async).photoURL"><img
                        [src]="(currentUser()|async).photoURL"/></li><br/>
                <li><strong>Email:</strong> {{(currentUser()|async).email}}</li>
                <li><strong>UID:</strong> {{(currentUser()|async).uid}}</li>
                <li><strong>Provider ID:</strong> {{(currentUser()|async).providerId}}</li>
            </ul>
    </div>
</div>