#abc {
    height: 1000px;
    background-color:black;
    background: url(../assets/images/landing-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;    
}

.navbar-brand {
     font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}