<div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group" id='moviesBtn'>
            <button type="button" class="btn btn-default btn-group-lg" (click)='moviesBtnClicked()'>Movies</button>
        </div>
        <div class="btn-group" role="group" id="musicBtn">
            <button type="button" class="btn btn-default btn-group-lg" (click)='musicBtnClicked()'>Music</button>
        </div>
</div>
<br/>

<display-movies *ngIf='isMoviesSearch'></display-movies>
<display-music *ngIf='!isMoviesSearch'></display-music>